body{
    
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    text-align: center;

}

.h1{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.container{
    /* justify-content: center;
    max-width: 390px; */
    grid: 10px 10;
    gap: 10px 40px;
}

.inner{

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 50px;
}

.img{
    width: 150px;
}

.item{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 10px 10px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    font-weight: 700;

    transition: background .2s linear;
}

.btn:hover{
    background: rgb(3, 178, 237);
}

.added-to-cart{
    display: inline-block;
    padding: 10px 10px;
    border: none;
    background: crimson;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;

    transition: background .2s linear;
}




